@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Elige cliente para avanzar</p>
    <div>
        <div class="mt-2">
            <a class="btn btn-secondary" asp-page="/User/Index">CLIENTE</a>
        </div>
    </div>
</div>
