@page
@model tp6_torres_zucchini.Pages.Admin.ClientesModel
@{
    ViewData["Title"] = "Panel de Administrador";
}
<div class="text-center">
    <h1 class="display-3"><a href="/Admin/Index" class="text-dark text-decoration-none"> Panel de Administracion</a></h1>
    <p class ="fs-5">
        En esta sección podras dar de alta, modificar o dar de baja a clientes. </p>
